<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947527829006-6js42smo3qdiudkqm6m8nrt4g7cjd48a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947527829006-6js42smo3qdiudkqm6m8nrt4g7cjd48a</string>
	<key>API_KEY</key>
	<string>AIzaSyD7QoFMKzS62ajzuyznQyIHHo2EC76ldzU</string>
	<key>GCM_SENDER_ID</key>
	<string>947527829006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.AIT</string>
	<key>PROJECT_ID</key>
	<string>terneros</string>
	<key>STORAGE_BUCKET</key>
	<string>terneros.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947527829006:ios:2626329bc760f9b7fade5f</string>
	<key>DATABASE_URL</key>
	<string>https://terneros.firebaseio.com</string>
</dict>
</plist>